# Ignore virtual environment files
/venv/

# Ignore large-file data
/data/

# Ignore drafting document
planning.txt

# Ignore .vscode folder (used for config JSONs)
/.vscode/

# Ignore VSCodeCounter if it is installed
/.VSCodeCounter/

# Ignore Python cache
__pycache__/
*.pyc
