
body {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
} body > * {
    display: flex;
    flex-direction: column;
    border:  2px solid black;
    border-radius: 10px;
} body h1 {
    margin: auto;
}

.telemetry_box {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height:     200px;
    min-height: 200px;
    max-height: 200px;
} #telemetry_box > * {
    margin: 2px;
}

#scrub_box {
    display: flex;
    flex-direction: row;
} #scrubber {
    width: 85%;
} #scrub_pos {
    margin: auto;
}