<!-- About Page -->
<!-- Created: 7/30/2025 -->
<!DOCTYPE html>

<html>

    <head>
        <title>About Web Page</title>
        <link rel="stylesheet" href="../static/style.css">
        <!-- Plotly scripts -->
        <script src='https://cdn.plot.ly/plotly-3.0.1.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
        <!-- Add Icons -->
        <script src="https://kit.fontawesome.com/a848d7736f.js" crossorigin="anonymous"></script>
    </head>

    <body>
        
        <!-- Grid Layout Divs -->
        <div class="container">
            <div class="nav_bar">
                <div>
                    <ul>
                        <li><a href="/"><i class="fa-regular fa-house fa-xl"></i> Home</a></li>
                        <li><a href="/telemetry"><i class="fa-regular fa-folder-open fa-xl"></i> Trips</a></li>
                        <li><a href="/admin"><i class="fa-regular fa-keyboard fa-xl"></i> Admin</a></li>
                        <li><a class="active" href="/about"><i class="fa-regular fa-user fa-xl"></i> About</a></li>
                        <li><a href="https://github.com/sweepy8/AEGIS" target="_blank"><i class="fa-regular fa-file-code fa-xl"></i> Github</a></li>
                    </ul>
                </div>
                <div style="position: absolute;bottom: 20px;left: 20%">
                    <a href="https://www.csun.edu/engineering-computer-science/electrical-computer-engineering" target="_blank">
                        <img src="../static/images/CSUN_logo.png" alt="AEGIS" style="width: 75%;">
                    </a>
                </div>
            </div>
            <div class="person1">
                <h2>Zachary Martin</h2>
                <p>Computer Engineering - <a href="https://www.linkedin.com/in/z-martin/" target="_blank">LinkedIn</a></p>
                <p>AEGIS: Software - Electrical - Management</p>
            </div>
            <div class="person2">
                <h2>Justin Terryberry</h2>
                <p>Electrical Engineering - <a href="https://www.linkedin.com/in/justin-terryberry-13100a189/" target="_blank">LinkedIn</a></p>
                <p>AEGIS: Software - Mechanical - Electrical - Management</p>
            </div>
            <div class="person3">
                <h2>Jonathan Pena</h2>
                <p>Electrical Engineering - <a href="https://www.linkedin.com/in/jonathan-pena-bb6767303/" target="_blank">LinkedIn</a></p>
                <p>AEGIS: Software - Mechanical - Electrical</p>
            </div>
            <div class="person4">
                <h2>Jonathan Galindo</h2>
                <p>Electrical Engineering - <a href="https://www.linkedin.com/in/jonathan-galindo-6453911b0/" target="_blank">LinkedIn</a></p>
                <p>AEGIS: Mechanical - Electrical</p>
            </div>
            <div class="person5">
                <h2>Melissa Ramirez</h2>
                <p>Electrical Engineering - <a href="https://www.linkedin.com/in/melissa-ramirez-b90537262/" target="_blank">LinkedIn</a></p>
                <p>AEGIS: Electrical</p>
            </div>
            <div class="person6">
                <h2>Celeste Duran</h2>
                <p>Computer Engineering - <a href="https://www.linkedin.com/in/celeste-nicole-duran/" target="_blank">LinkedIn</a></p>
                <p>AEGIS: Electrical</p>
            </div>
        </div>
        
    </body>
</html>