<!-- Main Web HTML -->
<!-- Created 7/14/2025 -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main Web Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="background-color: #55565a;">

     <!-- Grid Layout Container -->
    <div class="container">
        <!-- Navigation Bar Section -->
        <div class="navigation_bar">
            <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/trip_viewer">Trips</a></li>
            <li><a href="/trip_raw_data">Raw Data</a></li>
            <li><a href="/admin">Admin</a></li>
            <li style="float:right"><a href="/about">About</a></li>
            </ul>
        </div>
    </div>

</body>
</html>
