<!-- Trip Raw Data Web HTML -->
<!-- Created 7/24/2025 -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Trip Raw Data Web Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="background-color: #55565a;">

     <!-- Grid Layout Container -->
    <div class="container">
        <!-- Navigation Bar Section -->
        <div class="navigation_bar">
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/trip_viewer">Trips</a></li>
            <li><a class="active" href="/trip_raw_data">Raw Data</a></li>
            <li><a href="/admin">Admin</a></li>
            <li style="float:right"><a href="/about">About</a></li>
            </ul>
        </div>

        <!-- Trip Selection/List Section -->
        <div class="trip_list_raw_data">
            <div class="scroll_list" style="max-height:95%;margin-top:5%;">
                <ul id='trip_btns'></ul>
            </div>
        </div>

        <!-- Trip Raw Data Section -->
        <div class="raw_data" id="print_raw_data">
            <p id="par_raw_data"></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='../static/js/dynamic.js') }}"></script>
</body>
</html>