<!-- Trip Web HTML -->
<!-- Created 7/14/2025 -->

<!DOCTYPE html>
<html>

<head>
    <title>Trip Viewer web Page</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- Plotly scripts -->
    <script src='https://cdn.plot.ly/plotly-3.0.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
</head>

<body>

    <!-- Grid Layout Container -->
    <div class="container">
        <!-- Navigation Bar Section -->
        <div class="navigation_bar">
            <ul>
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/trip_viewer">Trips</a></li>
            <li><a href="/trip_raw_data">Raw Data</a></li>
            <li><a href="/admin">Admin</a></li>
            <li style="float:right"><a href="/about">About</a></li>
            </ul>
        </div>

        <!-- Trip Selection/List Section -->
        <div class="trip_list">
            <button class="open-btn" style="margin-left:12.5%">Live Feed</button>
            <div class="scroll_list">
                <ul id='trip_btns'></ul>
            </div>
        </div>

        <!-- Camera Section, includes Live Feed selection and trip video functions-->
        <div class="camera" id="video">
            
        </div>

        <!-- LiDAR Visualizer Section -->
        <div class="lidar" id="LiDAR">
            <button onclick="toggleFullScreen()" style="position:absolute;top: 0;left: 0;margin:10px">
                <img src="../static/images/fullscreen.jpg" style="width: 15px;height: 15px">
            </button>
        </div>

        <!-- Telemetry Section -->
        <div class="telemetry_data" id="telemetry_data">
            <div class="data_2"> <!-- Column 1/7 -->
                <h3>Raspberry Pi 5:</h3>
                <div class="rpi_data">
                    <h4>Uptime (s):</h4>
                        <p id="uptime">Loading...</p>
                    <h4>CPU Util (%):</h4>
                        <p id="cpu_util">Loading...</p>
                    <h4>Mem Util (%):</h4>
                        <p id="mem_util">Loading...</p>
                    <h4>Storage Available (mb):</h4>
                        <p id="storage">Loading...</p>
                    <h4>Temp (C):</h4>
                        <p id="rpi_temp">Loading...</p>
                </div>
            </div>
            <div class="data_2"> <!-- Column 2/7 -->
                <h3>LiDAR:</h3>
                <div class="lidar_data">
                    <h4>Connected (bool):</h4>
                        <p id="lidar_con">Loading...</p>
                    <h4>Scanning (bool):</h4>
                        <p id="scanning">Loading...</p>
                    <h4>Scan PCT (%):</h4>
                        <p id="scan_pct">Loading...</p>
                    <h4>Saved File (filepath):</h4>
                        <p id="saved_scan">Loading...</p>
                    <h4>Fixed Mode (bool):</h4>
                        <p id="fixed_mode">Loading...</p>
                    <h4>Motor Position (deg):</h4>
                        <p id="motor_pos">Loading...</p>
                </div>
            </div>
            <div class="data_2"> <!-- Column 3/7 -->
                <h3>Camera:</h3>
                <div class="camera_data">
                    <h4>Connected (bool):</h4>
                        <p id="camera_con">Loading...</p>
                    <h4>Recording (bool):</h4>
                        <p id="recording">Loading...</p>
                    <h4>Streaming (bool):</h4>
                        <p id="streaming">Loading...</p>
                    <h4>Saved File (filepath):</h4>
                        <p id="saved_scan">Loading...</p>
                </div>
            </div>
            <div class="data_2"> <!-- Column 4/7 -->
                <h3>Motors:</h3>
                <div class="motor_vals">
                    <div class="motor_left">
                    <h4>Front Left:</h4>
                        <p id="fl_volt">Loading...</p>
                        <p id="fl_cur">Loading...</p>
                        <p id="fl_rpm">Loading...</p>
                    <h4>Middle Left:</h4>
                        <p id="ml_volt">Loading...</p>
                        <p id="ml_cur">Loading...</p>
                        <p id="ml_rpm">Loading...</p>
                    <h4>Rear Left:</h4>
                        <p id="rl_volt">Loading...</p>
                        <p id="rl_cur">Loading...</p>
                        <p id="rl_rpm">Loading...</p>
                    </div>
                    <div class="motor_right">
                    <h4>Front Right:</h4>
                        <p id="fr_volt">Loading...</p>
                        <p id="fr_cur">Loading...</p>
                        <p id="fr_rpm">Loading...</p>
                    <h4>Middle Right:</h4>
                        <p id="mr_volt">Loading...</p>
                        <p id="mr_cur">Loading...</p>
                        <p id="mr_rpm">Loading...</p>
                    <h4>Rear Right:</h4>
                        <p id="rr_volt">Loading...</p>
                        <p id="rr_cur">Loading...</p>
                        <p id="rr_rpm">Loading...</p>
                    </div>
                </div>
            </div>
            <div class="data_2"> <!-- Column 5/7 -->
                <h3>Ultrasonics:</h3>
                <div class="ultrasonic_data">
                    <h4>LiDAR (cm):</h4>
                        <p id="lidar_us">Loading...</p>
                    <h4>Front Left (cm):</h4>
                        <p id="fl_us">Loading...</p>
                    <h4>Front Middle (cm):</h4>
                        <p id="fm_us">Loading...</p>
                    <h4>Front Right (cm):</h4>
                        <p id="fr_us">Loading...</p>
                    <h4>Rear (cm):</h4>
                        <p id="rear_us">Loading...</p>
                </div>
            </div>
            <div class="data_2"> <!-- Column 6/7 -->
                <h3>IMU:</h3>
                <div class="imu_data">
                    <h4>Roll (dps):</h4>
                        <p id="roll">Loading...</p>
                    <h4>Pitch (dps):</h4>
                        <p id="pitch">Loading...</p>
                    <h4>Yaw (dps):</h4>
                        <p id="yaw">Loading...</p>
                    <h4>Acceleration-x (mps2):</h4>
                        <p id="accel_x">Loading...</p>
                    <h4>Acceleration-y (mps2):</h4>
                        <p id="accel_y">Loading...</p>
                    <h4>Acceleration-z (mps2):</h4>
                        <p id="accel_z">Loading...</p>
                </div>
            </div>
            <div class="data_2"> <!-- Column 7/7 -->
                <h3>UGV:</h3>
                <div class="ugv_data">
                    <h4>Battery Capacity (%):</h4>
                        <p id="bat_cap">Loading...</p>
                    <h4>Battery Voltage (V):</h4>
                        <p id="bat_volt">Loading...</p>
                    <h4>Battery Current (A):</h4>
                        <p id="bat_cur">Loading...</p>
                    <h4>Headlights (bool):</h4>
                        <p id="headlight">Loading...</p>
                    <h4>Ambient Temp (C):</h4>
                        <p id="amb_temp">Loading...</p>
                    <h4>Ambient Light (wpm2):</h4>
                        <p id="amb_light">Loading...</p>
                </div>
            </div>
        </div>
        <div class="telemetry_stamp" id="telemetry_stamp">
            <div class="data"> <!-- Column 1/4 -->
                <h3>Trip:</h3>
                    <h4 id="trip">Loading...</h4>
                <h3>Timestamp:</h3>
                    <p id="timestamp">Loading...</p>
                <h3>Duration (s):</h3>
                    <p id="duration">Loading...</p>
            </div>
            <div class="data"> <!-- Column 2/4 -->
                <h3>Battery:</h3>
                    <p id="battery">Loading...</p>
                <h3>Battery Size (mAh):</h3>
                    <p id="battery_size">Loading...</p>
                <h3>DC Motors:</h3>
                    <p id="motors">Loading...</p>
            </div>
            <div class="data"> <!-- Column 3/4 -->
                <h3>Microcontroller 1:</h3>
                    <p id="rpi">Loading...</p>
                <h3>Microcontroller 2:</h3>
                    <p id="arduino">Loading...</p>
                <h3>Ultrasonics:</h3>
                    <p id="ultrasonic">Loading...</p>
            </div>
            <div class="data"> <!-- Column 4/4 -->
                <h3>LiDAR:</h3>
                    <p id="lidar">Loading...</p>
                <h3>LiDAR Motor:</h3>
                    <p id="lidar_motor">Loading...</p>
                <h3>Camera:</h3>
                    <p id="camera">Loading...</p>
            </div>
        </div>

        <!-- Scrubber Section -->
        <div class="scrubber_container">
            <input class="scrubber" id="scrubber" 
                type="range" min="0" max="362439" value="0"> <!--99h:99m:99s-->
            <button class="play_btn" id="play_btn"> ▶ </button>
            <output class="scrubber_value" id="scrubber_value">00:00:00</output>
        </div>
    </div>

    <script src="{{ url_for('static', filename='../static/js/dynamic.js') }}"></script>
</body>

</html>
